* {
    font-family:'Times New Roman', Times, serif;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    gap: 5rem;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border: 15px solid lightblue;
    border-radius: 15px;
}
nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  
nav a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(33, 159, 201);
  display: block;
  margin: auto;
  transition: .5s;
} 

nav a:hover::after{
  width: 100%;
}

@keyframes enlarge {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}/*Keyframe modifer used here to enlarge obj with a .3s delay while having a size increment from 0% to 100%*/ 

/*Meant for the logo*/
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px; 
    height: 40px; 
    margin: 20px; 
  }

.logo:hover {
    transform: scale(1.5);
    animation: enlarge 0.5s infinite alternate;/*The animation loop is made endless here*/
}

.logoheader {
    position: absolute;
    margin-left: 65px;
    top: 6px;
    left: 1px;
    font-weight: bold;
    font-style: italic; 
}

.rectangle {
    width: calc(100vw - 40px); /* 40px gap (20px on each side) */
    margin: 1; /* Sets a gap from each border */
    border-radius: 15px;
    background-color: #fff; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
  }

.footerRectangle {
  background: rgb(33, 159, 201);
  border-radius: 15px;
  padding: 10px;
  width: calc(100vw - 65px);
  border: 4px solid rgb(33, 159, 201);
  margin: 10px auto;
  position: fixed; /* Position the footer at the bottom of the viewport */
  left: 0;
  bottom: 0;
}


.footerRectangle address {
  font-weight: bold;
  text-align: center; 
  font-size: 20px;
  line-height: 1.5; /* Adds spacing between lines */
  color: #333; 
  margin: 10px; /* Adds margin for spacing */
}

.footerRectangle p {
  margin: 5px 0; /* Adds margin between paragraphs */
}

.footerRectangle p:first-child {
  font-weight: bold; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a::before,
.dropdown-content a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .7s ease;
  }

.usr_inp {
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: inline-block;
  width: 300px; /* Adjust the width of the form */
  padding: 20px;
  outline: 10px solid lightblue;
  transition: .5s ease;
}

.usr_inp:hover{
  outline: 10px solid rgba(4,81,136);
  width: 400px;
}

.submitbtn {
  background: black;
  color: #fff;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s, color 0.3s;
}

.submitbtn:hover {
  background: lightblue;
}

.home_pg_rectangle {
  background-size: cover;
  background-position: center;
  width: calc(100vw - 40px); /* 40px gap (20px on each side) */
  margin: 1; /* Gap from each border */
  border-radius: 15px;
  border: 4px solid lightblue;
  background-color: lightblue; /* Rectangle color */

}

.home_pg img{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  transition: filter .3s;/* Transititons into the filter property with a .3s delay when hovered ove */
}  

.home_pg img:hover{
  filter: drop-shadow(0 0 10px rgba(45, 111, 255, 0.5));/* Horizontal offset, vertical offset, blur radius, color */
}

.home_pg h3 {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin-top: 20px;
}


form{
  margin: 10px;
}
form input{
  cursor: pointer;
}

.address_bar{
  background: grey;
  border: 10px grey;
  border-radius: 10px;
}

address a{
  color: aqua;
  transition: color .7s ease;
}

address a:hover{
  color: darkblue;
}

.health_form input{
  color: grey;
}


.health_form label{
  font-weight: bold;
}

.health_form{
  justify-content: center;
}

.health_form fieldset{
  border-style: dotted;
  border-color: black;
  border-radius: 10px;
}

.form_table {
  width: 100%;
}

.form_table tr {
  margin-bottom: 10px;
}

.form_table td {
  padding: 10px;
}

.form_table #submit, #reset{
  background:black;
  color: white;
  border-radius: 5px;
  transition: all .3s ease;
}

.form_table #submit:hover, #reset:hover{
  background: rgb(33, 159, 201);
  color: white;
  border-radius: 5px;
}

.form_table input{
  width: 350px;
}

.large_text{
  height: 100px;
}

.home_pg_rectangle h1{
  text-align: center;
  border-style: dashed;
  border-radius: 10px;
}

.footer {
  border-radius: 15px;
  margin-top: 30px;
  padding: 30px; 
  background: lightblue;
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}
.footer div {
text-align: center;
}
.footer div h3 {
font-weight: 300;
margin-bottom: 15px; /* Adjust margin as needed */
letter-spacing: 1px;
}

@media(max-width: 768px){
  .footer{
      flex-direction: column;
  }

  .footer div{
      margin-bottom: 20px;
  }
}

.col-1 a{
text-decoration: none;
display: block;
margin-bottom: 10;
}

.col-3 a{
  color: rgb(33, 159, 201);
  text-decoration: underline;
}

.footer_form input{
  width: 400px;
  height: 45px;
  border-radius: 20px;
  text-align: center;
  margin-top:1px;
  margin-bottom: 15px;
  outline: none;
  border: none;
}

.footer_form button{
  background: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all .7s ease;
}

.footer_form button:hover{
  background-color: #000;
  color: #fff;
}

.main_pg {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("hospital_img.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.home_pg_text{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #000000;   
}

.home_pg_text h1{
  font-size: 70px;
  margin-top: 80px;
}

.home_pg_text p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

/*---Prompt quiz section--*/

.prompt-quiz {
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: inline-block;
  width: 900px; /* Adjust the width of the form */
  padding: 30px;
  outline: 10px solid lightblue;
  transition: .5s ease;
}

.prompt-quiz:hover{
  outline: 10px solid rgba(4,81,136);
  width: 990px;
}

.prompt-quiz input{
  width: 400px;
  height: 30px;
}

.prompt-quiz legend{
  font-size: 20px;
}

@media(max-width: 768px){
  form{
    font-size: 10px;
  }
}
/*---Section for the popup box---*/
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px); /* Blur the background */
}

.modal-content {
  position: relative;
  background-color: rgb(246, 240, 233);
  margin: 15% auto;
  padding: 20px;  
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 15px;
  transition: .5s ease;
}

.modal-content:hover{
  outline: 10px solid lightblue;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 10px;
}