* {
    font-family: Arial, sans-serif;
}

.navbar {
    position: absolute;
    margin-right: 60px;
    top: 30px;
    font-size: large;
    right: 5px;
    font-weight: bold;
    font-style: italic; 
}

#footer_link:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

#footer_link:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

#footer_link:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

#footer_link:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    gap: 5rem;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border: 15px solid lightblue;
    border-radius: 15px;
}
nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
nav a::before,
nav a::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color .7s ease;
  }
  
nav a::before {
    top: 0;
    left: 0;
  }
  
nav a::after {
    bottom: 0;
    right: 0;
  }
  
nav a:hover::before,
nav a:hover::after {
    background-color: rgba(0, 0, 0, 0.1); 
  }

@keyframes enlarge {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px; 
    height: 40px; 
    margin: 20px; 
}

.logo:hover {
    transform: scale(1.5);
    animation: enlarge 0.5s infinite alternate;
}

.logoheader {
    position: absolute;
    margin-left: 65px;
    top: 6px;
    left: 1px;
    font-weight: bold;
    font-style: italic; 
}

.rectangle {
    width: calc(100vw - 40px); 
    height: calc(100vh - 40px);
    margin: 1; 
    border-radius: 15px;
    border: 4px solid lightblue;
    background-color: lightblue; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
 }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a::before,
.dropdown-content a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .7s ease;
}

.gallery_pg_rectangle {
    width: 100%;
    height: 100%;
    margin: 1; 
    border-radius: 15px;
    border: 4px solid lightblue;
    background-color: lightblue;
}

h2 {
    padding-top: 20px;
    margin: 0;
    color: #000000;
}

.footer {
    margin-top: 15px;
    background: lightblue;
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    align-items: center; /* Adjust alignment as needed */
    background:lightblue;
    border-radius: 15px;
    padding: 10px;
    border: 4px solid lightblue;
    margin: 1;
}

.footer div {
    text-align: center;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 15px; 
    letter-spacing: 1px;
}

.col-1 a{
    text-decoration: none;
    display: block;
    margin-bottom: 10;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    margin-top:1px;
    margin-bottom: 15px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover{
    background-color: #000;  
    color: #fff;
}

*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.info-box {
    display: none;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail-info {
    display: flex;
}

#largeThumbnail {
    width: 70%;
    margin-right: 20px;
}

.info-text {
    width: 50%;
}

.img_display {
    list-style: none;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.img_display li {
    margin: 0 5px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    cursor: pointer;
}

.img_display li img {
    width: 200px; 
    height: 200px; 
    display: block;
}
